body {
  background: url("https://d1ayxb9ooonjts.cloudfront.net/7607bc8563ac28b8631dbc5867d672ee.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  position: relative;
}

.positioning {
  /*position: static;*/
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
  float: center;
}

.center {
  font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 48px;
  line-height: 56px;
  margin: 160 0 8px 0;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.sub-heading {
  text-align: center;
  font-size: 20px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 10%;
}

.button-large {
  padding-top: 20.4px;
  padding-bottom: 20.4px;
  padding-left: 28.8px;
  padding-right: 28.8px;
  font-size: 13px !important;
  line-height: 19.2px;
}

.logo {
  width: 90px;
  height: 90px;
  position: relative;
  float: left;
  margin-left: 95px;
  margin-top: -160px;

}

.th-schema {
    background-color: #FF8800;
    color: white;
    text-align: center;
}
.td-schema {
  text-align: center;
}
.table-design {
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  width: 50px ;
}
